body,html{
  padding:0px;
  margin: 0 auto;
}

.wrapper{
  width:100%;
  position: relative
}

.container{
  width: 1160px;
  margin: 0 auto;
  display: block;
  position: relative;
}

.clearfix{
  clear:both;
}

a{
  text-decoration: none;
  color:black;
}

.header{
  background-color: #01497b;
  font-family: 'Raleway', sans-serif;
  height: 38px;
  width: 100%;
}

.header .leftmid{
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  background-color: #01497b;
  color:#ffffff;
  height: 38px;
  width:580px;
  float:left;
  margin-left: 10%;
}

.header .leftmid .text{
  padding-top:10px;
}

.header .rightmid{
  font-family: 'Raleway', sans-serif;
  background-color: #01497b;
  height: 38px;
  width:580px;
  float:left;
}

.header .phonetext1{
  padding-top:10px;
  width:210px;
  height: 38px;
  float:left;
}

.header .phone1{
  float:left;
}

.header .number1{
  float:right;
  font-size: 13px;
  color:#ffffff;
}

.header .spacer{
  float:left;
  width:85px;
  height:38px;
}

.header .phonetext2{
  padding-top:10px;
  width:235px;
  height: 38px;
  float:left;
}

.header .phone2{
  float:left;
}

.header .number2{
  float:right;
  font-size: 13px;
  color:#ffffff;
}

.headerMenu{
  background-color:#ffffff;
  height: 70px;
  width: 100%;
  float:left;
  position:relative;
}

.headerMenu .leftmid{
  background-color:#ffffff;
  height: 70px;
  width: 530px;
  float:left;
  margin-left: 10%;
}

.headerMenu .logo{
  margin: 8px 0px 0px 0px;
  float:left;
}

.headerMenu .space{
  background-color:#ffffff;
  height:70px;
  width: 72px;
  float:left;
}

.headerMenu .line{
  background-color:#e6e6e6;
  width: 2px;
  height: 45px;
  margin: 13px 23px 0px 72px;
  float:left;
}

.iphoneMenu{
  display:none;
}

.headerMenu .icon{
  width:25px;
  height: 70px;
  margin-top:25px;
  float:left;
}

.headerMenu .iconText{
  font-family: 'Raleway', sans-serif;
  padding-top:25px;
}

.headerMenu .rightmid{
  background-color:#ffffff;
  width: 630px;
  height: 70px;
  float:left;
}

.lists{
  list-style-type: none;
  float:right;
  width: 100%;
  margin: 0px;
}

 ul.lists li{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size:12px;
  line-height:45px;
  float:left;
  display: inline-block;
  margin: 0px 0px 0px 0px;
  position:relative;
}

ul.lists li a{
  line-height: 70px;
  display: block;
  padding: 0px 20px;
}

ul.lists li:hover{
   display: block;
   background-color:#d31634;
   height: 70px;
   color:#ffffff;
 }

 ul.lists li a:hover{
   color:#FFFFFF;
 }

 ul.lists li ul{
  display:none;
  position:absolute;
  left:0;
  margin:0;
  padding:0;
}

ul.lists li ul li{
  background-color:white;
  color:black;
  float:left;
  line-height:70px;
}

ul.lists li:hover ul{
  display:block;
  width:210px;
}

.level1{
  width:210px;
  height: 70px;
  line-height:70px;
  padding-left:30px;
background: -moz-linear-gradient(top, #dddddd 3%, #ffffff 25%);
}

.level2{
  width:210px;
  height:70px;
  line-height:70px;
  border-top:2px solid gray;
  padding-left:30px;
}

ul.lists li:hover:before{
  display:block;
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid white 10px;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left:40%;
}

ul.lists li:hover ul li:hover:before{
  display: none;
}

ul.lists li:hover ul li:hover{
  line-height:70px;
  height:70px;
  width:210px;
  color:black;
  background-color:white;
  margin:0;
  padding-left:30px
}


.headerImage{
  width:100%;
  height:565px;
}

.bgImage{
  position:relative;
  height:565px;
  width:100%;
  background-image: url("lidl.png");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
}

.bgImage .bigText{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 62px;
  letter-spacing: -2px;
  text-align: center;
  color: white;
  position: absolute;
  margin: 200px 400px 50px 360px;

}

.bgImage .smallText{
  width:650px;
  height: 55px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: white;
  position: absolute;
  margin: 370px 410px 190px 500px;
}

.bgImage .leftArrow{
  position: absolute;
  margin: 250px 1320px 270px 70px;
  color: white;
}

.bgImage .rightArrow{
  position: absolute;
  margin: 250px 70px 270px 1550px;
  color: white;
}

.welcomeBoxLeft{
  background-color:#ffffff;
  height: 740px;
  width: 580px;
  float:left;
}

.welcomeBoxRight{
  background-color:#ffffff;
  height: 735px;
  width: 580px;
  float:left;
}

.welcomeBoxLine{
  background-color:#000000;
  height:8px;
  width: 100px;
  margin: 84px 0px 0px 46px;
}

.welcomeBoxTitle{
  font-family: 'Raleway', sans-serif;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: -2px;
  margin: 32px 0px 0px 45px;

}

.welcomeBoxP1{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: -1px;
  margin: 38px 0px 0px 48px;
}

.welcomeBoxP2{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 27px 0px 0px 45px;
}

.welcomeBoxP3{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 27px 0px 0px 45px;
}

.welcomeBoxP4{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 27px 0px 0px 45px;
}

.welcomeBoxImage{
  height: 529px;
  width: 530px;
  float:left;
  margin:60px 0px 0px 50px;
}

.box1{
  width: 50%;
  height: 270px;
  background-image: url("box1.png");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  float:left;
}

.box1Button{
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: -1px;
  height: 55px;
  width:170px;
  background-color:#ffffff;
  color: #01497b;
  text-align:center;
  line-height: 55px;
  margin: 35px 0px 0px 205px;
}

.box1h1{
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color:white;
  margin: 100px 0px 0px 150px;
}

.box1h2{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 900;
  color:white;
  margin: 10px 0px 0px 110px;
}

.box2{
  width: 50%;
  height: 270px;
  background-image: url("box2.png");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  float:left;
}

.box2h1{
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color:black;
  margin: 100px 0px 0px 150px;
}

.box2h2{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 900;
  color:black;
  margin: 10px 0px 0px 110px;
}

.box2Button{
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: -1px;
  height: 55px;
  width:170px;
  background-color:#d71635;
  color: #ffffff;
  text-align:center;
  line-height: 55px;
  margin: 35px 0px 0px 205px;;
}

.spaceBoxSales{
  width:580px;
  height:125px;
}

.salesLeft{
  height:515px;
  width:50%;
  float:left;
  background-image: url("sales.png");
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
}

.salesRight{
  height:515px;
  width:50%;
  float:left;
  background-color:#f8f8f8;
}

.salesLine{
  background-color:#000000;
  height:8px;
  width: 100px;
  margin: 90px 0px 40px 45px;
}

.salesTitle{
  font-family: 'Raleway', sans-serif;
  font-size: 41px;
  font-weight: 900;
  letter-spacing: -2px;
  margin-left: 45px;
}

.salesText{
  width:350px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 60px 0px 0px 45px;
}

.salesButton{
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  letter-spacing: -1px;
  height: 55px;
  width:170px;
  background-color:#01497b;
  color: white;
  text-align:center;
  line-height: 55px;
  margin: 30px 0px 0px 45px;

}

footer{
  background:#edeef0;
  height:500px;
  width:100%;
  float:left;
  padding:0px;
}

.footerAddress{
  display:block;
  float:left;
  width: 320px;
  margin-top:115px;
}

.footerTitle{
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 900;
  list-style-type: none;
}

.footerAddressSpacer{
  height:30px;
  width: 310px;
  display:block;
}

.footerText{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  list-style-type: none;
  color:#bfbfc0;
}

.footerNumber{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 500;
  list-style-type: none;
  float:left;
}

.footerLocation{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  list-style-type: none;
  color:#bfbfc0;
  float:left;
  margin:3px 20px;
}

.footerLocation1{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  list-style-type: none;
  color:#bfbfc0;
  float:left;
  margin-left: 20px;
}

.footerEmail{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color:#dd6b78;
  list-style-type: none;
  float:left;
}

.footerSpacer{
 list-style-type: none;
 margin-top:30px;
}

.footerText1{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  list-style-type: none;
  color:#bfbfc0;
  margin-top:7px;
}

.footerList1{
  float:left;
  margin: 115px 0px 0px 60px;
}

.footerList2{
  float:left;
  margin: 115px 0px 0px 50px;
}

.footerList3{
  float:left;
  margin: 115px 0px 0px 60px;
}

.footerList4{
  position: absolute;
  float:right;
  margin: 115px 0px 0px 1013px;
}

@media only screen and (max-width: 900px) {


  html, body{
      width:100%;
      height:100%;
      margin:0;
      padding:0;
  }

  .wrapper{
    width:100%;
  }

  .container{
    width:100%;
  }

  .clearfixMobile{
    clear:both;
  }

  .header{
    margin: 0;
  }

  .header .text{
    padding-left:120px;
  }

  .header .rightmid{
    width:100%;
  }

  .header .spacer{
    width:0;
    height:0;
  }

  .header .phonetext1{
    margin-left: 15%;
  }

  .header .phonetext2{
    margin-left:15%;
  }

  .headerMenu .leftmid{
    width:100%;
    margin: 0;
  }

  .headerMenu .rightmid{
    width:100%;
  }

  .headerMenu .spacer{
    width:0;
    height: 0;
  }

  .headerMenu .logo{
    margin-left:25%;
  }

  .headerMenu .icon{
    margin-left: 5%;
  }

  .headerMenu .iconText{
    margin-left: 15%;
    width: 60%;
    font-size: 15px;
    height: auto;
  }

  ul.lists li{
    margin-left:4%;
  }

  .bgImage{
     height:100%;
     width:100%;
  }

  .bgImage .bigText{
      margin:30% 0 0 19%;
      font-size:30px;
  }

  .bgImage .smallText{
      margin:35% 0 0 15%;
      font-size:12px;
      text-align:center;
  }

  .bgImage .leftArrow{
    margin:32% 0 0 3%;
  }

  .bgImage .rightArrow{
    margin:32% 0 0 93%;
  }

  .welcomeBoxLeft{
    width:50%;
    height:30%;
  }

  .welcomeBoxLine{
    margin-top:50px;
  }

  .welcomeBoxTitle{
    font-size:20px;
    font-weight:800;
    letter-spacing:-0.5px;
    width:40%;
    margin-top:20px;
  }

  .welcomeBoxP1{
    width:80%;
    font-size:12px;
    letter-spacing:-0.5px;
    margin-top:20px;
  }

  .welcomeBoxP2{
    width:80%;
    font-size:12px;
    letter-spacing:-0.5px;
    margin-top:20px;
  }

  .welcomeBoxP3{
    width:80%;
    font-size:12px;
    letter-spacing:-0.5px;
    margin-top:20px;
  }

  .welcomeBoxP4{
    width:80%;
    font-size:12px;
    letter-spacing:-0.5px;
    margin-top:20px;
  }

  .welcomeBoxRight{
    width:50%;
    height:50%;
  }

  .welcomeBoxImage{
    margin-left:0;
    width:100%;
    height:auto;
  }

  .box1h1{
      margin: 20% 0 0 20%;
  }

  .box2h1{
      margin: 20% 0 0 20%;
  }

  .box1h2{
      text-align:center;
      margin: 2% 0 0 0;
  }

  .box2h2{
      text-align:center;
      margin: 2% 0 0 0;
  }


  .box1Button{
      margin:3% 0px 0px 30%;
  }

  .box2Button{
      margin:3% 0px 0px 30%;
  }

  .salesLeft{
    width:50%;
  }

  .salesRight{
    width:50%;
  }

  .salesLine{
    margin-top:50px;

  }

  .salesText{
    margin-top:40px;
  }

  .salesTitle{
    margin-top:20px;
  }

  .salesButton{
    margin-top:60px;
  }

  .footerAddress{
    float:initial;
    margin:3% 0 0 3%;
    font-size: 10px;
  }

  .footerAddressSpacer{
    width:310px;
    height:15px;
  }

  .footerList1{
    float:left;
    margin:5% 0 5% 5%;
    padding:0;
  }

  .footerList2{
    float:left;
    margin:5% 0 5% 5%;
  }

  .footerList3{
    float:left;
    margin:5% 0 5% 5%;
  }

  .footerList4{
    position:relative;
    float:left;
    margin:5% 0 5% 5%;
  }

}

@media only screen and (max-width: 450px) {
  .clearfixIphone{
    clear:both;
  }

  .header{
    width:100%;
  }


  .header .leftmid{
    width:100%;
    float:left;
    margin:0;
  }

  .header .text{
    width:100%;
    padding:0;
    margin:0;
    text-align: center;
    font-size:11px;
    float:left;
  }

  .header .rightmid{
    width: 100%;
  }

  .header .phonetext1{
    width:45%;
    float:left;
    margin:0;
  }

  .header .number1{
    font-size:11px;
    float:left;
    margin:0 0 0 3%;
  }

  .header .spacer{
    width:0;
    height:0;
  }

  .header .phonetext2{
    width:55%;
    float:left;
    margin:0 0 0 0;
  }

  .header .number2{
    font-size:11px;
    float:left;
    margin:0 0 0 3%;
  }

  .headerMenu{
    height:auto;
    width:100%;
  }

  .headerMenu .leftmid{
    width:100%;
  }

  .headerMenu .rightmid{
    height:auto;
    width:auto;
  }

  .headerMenu .logo{
    float:left;
    margin:2.5% 0 0 1%;
  }

  .headerMenu .line{
    display:none;
  }

  .headerMenu .iphoneMenu{
    display:block;
    margin: 2.5% 5% 0  0;
    float:right;
  }

  .headerMenu ul.lists{
    width:100%;
    height:auto;
    display:none;
    float:initial;
    position:relative;
    padding:0;
    text-align:center;
    margin-left:170%;
  }

  .headerMenu ul.lists li{
    display:block;
    position:relative;
    float:initial;
    line-height:auto;
    width:100%;
    height:auto;
    padding:0;
    margin:0;
  }

  .headerMenu ul.lists li a{
    padding:0;
  }

  .headerMenu ul.lists li:hover a,  .headerMenu ul.lists li:hover a:link,  .headerMenu ul.lists li:hover a:hover,  .headerMenu ul.lists li:hover a:visited{
    color:black;
    background-color:white;
    width:100%;
    height:auto;
    padding:0;
    margin:0;
  }

  .headerMenu ul.lists li:hover ul{
    display:none;
    padding:0;
    margin:0;
  }

  .headerMenu ul.lists li:hover ul li{
    display:none;
    padding:0;
    margin:0;
  }

  .headerMenu ul.lists li:hover:before{
    display:none;
  }

  .headerMenu .icon{
    display:none;
  }

  .headerMenu .iconText{
    display:none;
  }

  .headerImage .bgImage{
    width:100%;
    height:100%;
  }

  .bgImage .bigText{
    margin:55% 0 0 0;
    width: auto;
    height:auto;
  }

  .bgImage .smallText{
    margin:75% 0 0 0;
    width: auto;
    height:auto;
  }

  .leftArrow{
    display:none;
  }

  .rightArrow{
    display:none;
  }

  .welcomeBoxLeft{
    width:100%;
    height: 100%;
  }

  .welcomeBoxRight{
    display:none;
  }

  .box1{
    float:initial;
    width:100%;
    height:100%;
  }

  .box1Button{
    height:30%;
    width:30%;
    margin: 0 0 10%  35%;
  }

  .box2{
    float:initial;
    width:100%;
    height:100%;
  }

  .box2Button{
    height:30%;
    width:30%;
    margin: 0 0 10%  35%;
  }

  .spaceBoxSales{
    display:none;
  }

  .salesLeft{
    display:none;
  }

  .salesRight{
    background-color:#ffffff;
    height:auto;
    width:100%;
  }

  .salesLine{
    display:none;
  }

  .salesTitle{
    font-size: 25px;
    width:auto;
    height:auto;
  }

  .salesButton{
    margin: 10% 0 10% 11%;
  }

  footer{
    height:auto;
    width:100%;
  }

  .footerList1{
    display:block;
    float:initial;
  }

  .footerList2{
    display:block;
    float:initial;
    padding:0;
  }

  .footerList3{
    display:block;
    float:initial;
    padding:0;
  }

  .footerList4{
    position:relative;
    display:block;
    float:initial;
    padding:0;
  }
